<div class="card-columns">
  <div *ngFor="let item of items | async" [ngClass]="item.class">

    <img class="card-img-top img-fluid" src="{{ item.cover }}" alt="{{ item.project }} image">
    <div class="card-img-overlay cardinfo">
      <h4 class="card-title">{{ item.project }}</h4>
      <p class="card-text">{{ item.description }}</p>
      <p class="card-text">
        <small class="text-muted">{{ item.productiondate }}</small>
      </p>
      <p *ngIf="item.client" class="card-text">
        <small class="text-muted">Cliente: {{ item.client }}</small>
      </p>
    </div>

  </div>
</div>
