<div class="card card-inverse" (click)="open(project)">
  <img class="card-img img-fluid" src="{{ project.cover }}" alt="{{ project.project }} image">
  <div class="card-img-overlay cardinfo">
    <h4 class="card-title">{{ project.project }}</h4>
    <p class="card-text">{{ project.description }}</p>
    <p class="card-text">
      <small>{{ project.productiondate }}</small>
    </p>
    <p *ngIf="project.client" class="card-text">
      <small>Cliente: {{ project.client }}</small>
    </p>
  </div>
</div>
